[2019-10-22 12:53] rmarx opened #5 "Specify directory for structured logs"
Currently, the README specifies where console log output is written.
However, no guidance is provided for where to potentially store other types of logs, such as for example qlog output.

I am not sure if this is necessary, since containers could just choose themselves to /logs/#server_#client/#testcase/server/qlog or equivalent, but maybe some more "default guidance" is welcome if we want to auto

[2019-10-22 13:19] marten-seemann commented on #5
We’re mounting a log directory into */logs* of the endpoints. The contents of these directories are saved for every test case.
We should probably mention this in the README.

[2019-10-22 13:42] rmarx commented on #5
Yes, I saw that and it's a good approach.

The question is if there should be a default subfolder for each test case of where to store structured logs (like what you currently define for the console output in /logs/#server_#client/#testcase/server, and for the pcap in ../sim).

Defining something standard for for example qlog (even if it's just the guidance to also store those alongside the consol

[2019-10-23 14:16] marten-seemann opened #6 "add a license"
My weak preference goes towards MIT. @janaiyengar, are you ok with that?

[2019-11-05 03:58] #6 closed

[2019-11-16 10:19] marten-seemann opened #14 "pyshark error"
[code]

[2019-11-16 10:36] marten-seemann commented on #14
If I remember correctly, @ghedo encountered the same issue earlier today.

[2019-11-16 11:01] janaiyengar opened #15 "another pyshark error"
[code]

[2019-11-16 14:38] marten-seemann commented on #14
Looks like this is the issue, and that there's no way to actually fix it: https://github.com/KimiNewt/pyshark/issues/303.

[2019-11-21 09:54] #14 closed

[2019-11-21 10:09] marten-seemann opened #18 "kill containers if they don't exit after x seconds"

[2019-11-22 08:54] marten-seemann opened #20 "Version Negotiation test doesn't work"
The problem is that the simulator container buffers the writing of the pcap, which is why we end up with a pcap that doesn't the VNP, although it was both sent and received.

[2019-11-22 08:55] marten-seemann opened #21 "add a 0-RTT test"

[2019-11-22 08:57] marten-seemann opened #22 "add rebinding / migration tests"
This will require adding a new scenario to the [QUIC network simulator](https://github.com/marten-seemann/quic-network-simulator/) that allows us to run a NAT inside ns-3.

[2019-11-22 08:59] marten-seemann opened #23 "add a Quantum Readiness test"
I don't think we need to be as specific as the test description in https://github.com/quicwg/base-drafts/wiki/15th-Implementation-Draft. Just requiring the ClientHello to span two (or more) packets should be sufficient.

[2019-11-25 10:29] janaiyengar opened #26 "Add throughput test"

[2019-11-25 10:30] janaiyengar opened #27 "Add test for random drops in handshake"

[2019-11-26 09:16] marten-seemann opened #28 "provide links to logs in web interface"

[2019-11-27 15:46] #18 closed

[2019-12-11 06:42] janaiyengar commented on #26
Plan is to _not_ mount the /logs and /downloads directory, and then copy off logs after the simulation is done.

[2019-12-21 13:58] #26 closed

[2020-01-05 03:17] #28 closed

[2020-01-15 04:41] marten-seemann opened #50 "crash while counting handshakes"
[code]

[2020-01-15 05:56] #50 closed

[2020-01-15 06:35] #27 closed

[2020-01-17 07:55] marten-seemann opened #54 "trace analyzer doesn't handle coalesced packets correctly"
For example, a packet is only recognized as a Handshake packet if the first coalesced packet is of type Handshake. As soon as this happens, the whole packet is returned.
We should probably "split" packets before we return them. That means that we won't have access to the UDP header at that point any more, but we're not using that anyway at the moment.

[2020-01-17 08:11] marten-seemann opened #55 "handshake count is inaccurate"
Counting the number of unique DCIDs leads to overcounting if an implementation immediately acts upon receipt of a NCID frame and then retransmits a Handshake packet using the new DCID.

[2020-01-17 12:01] marten-seemann commented on #15
I think this might have been fixed by #51.

[2020-01-17 12:01] #15 closed

[2020-01-18 03:25] #54 closed

[2020-01-18 03:27] #55 closed

[2020-02-05 09:16] junhochoi opened #61 "Client may start earlier than Server"
Sometimes Client container and its script starts before Server, making Client fails before Server starts.

Attached log (output.txt) is one example of quiche-quiche multiplexing (goodput) test. Here Client (quiche client) fails because there is no server running on the other side.

I can put some `sleep` before client script, but if runner can make sure Server always starts first it will be great.

[2020-02-12 20:33] MikeBishop opened #67 "Support endpoints in addition to Docker images"
Some implementations may not be able to publish a Docker container for various reasons, but are able to host a publicly accessible server instance.  It would be nice to be able to supply a hostname/port as an alternative.

[2020-02-13 04:32] marten-seemann commented on #67
That would indeed be nice, but there are a few problems with that:

1. It only works for servers, not for clients.
2. We use environment variables to configure endpoint behavior.
2. For servers, we give them a directory of files to serve before each test case, and after the download we do a byte-by-byte comparison of what the client downloaded.
3. Performance measurements over the public internet

[2020-02-14 12:28] larseggert opened #70 "QLOGDIR doesn't seem to be created"
Trying to log qlogs to `QLOGDIR`, but that doesn't exist:
`fopen /logs/qlog//client.qlog [errno 2 = No such file or directory]`

[2020-02-14 12:45] larseggert opened #71 "vneg confuses interop runner"
When a client send an Initial with an unsupported version and the server responds with vneg, the parsing logic in the runner becomes confused.

[2020-02-15 01:41] marten-seemann commented on #70
I just updated the base image: https://github.com/marten-seemann/quic-network-simulator/pull/64. You can rebuild your Docker image.

[2020-02-15 01:41] #70 closed

[2020-02-15 01:42] marten-seemann commented on #71
How does it become confused? quant's traces seem to be accepted by the interop runner: https://interop.seemann.io/.

[2020-02-15 06:10] marten-seemann commented on #71
So maybe this is related to the tshark issue that I discovered when discussing @huitema's test failure on Slack, see https://quicdev.slack.com/archives/CL9P7GNSW/p1581744262156500 and https://quicdev.slack.com/archives/C6P806347/p1581746628026000.

[2020-02-16 15:47] #71 closed

[2020-02-16 21:50] anisse opened #73 "Retry test returns success while it shouldn't"
It seems that the quic-go_quiche retry test returns success while it shouldn't:

https://interop.seemann.io/logs/quicgo_quiche/retry/

The quiche client times out, but still returns success (exit code 0):

https://interop.seemann.io/logs/quicgo_quiche/retry/client/log.txt

The test runner says "Check of downloaded files succeeded." but in my tests I can't see anything that was downloaded.

[2020-02-17 02:26] marten-seemann commented on #73
@anisse Why do you think the test should fail? It looks like a Retry packet was sent and processed.

[2020-02-17 08:23] anisse commented on #73
Having a look at the pcap and the logs, it seems the payload was indeed sent. I'll investigate further why I can't reproduce the same conditions.

[2020-02-17 08:23] #73 closed

[2020-02-21 19:52] anisse commented on #73
In my setup, I was using a server with quic-go v0.14.3, while I should have been using the interop branch. But in this case the AcceptToken() function of the Config doesn't get called, which might be expected ?

[2020-02-24 18:08] agrover opened #75 "Client and server compliant messages at different log levels"
These should both be at debug or both be at info log level, to prevent confusion.

[2020-02-25 03:17] marten-seemann commented on #75
@agrover Thank you. Would you mind sending us a PR?

[2020-02-27 00:50] agrover commented on #75
will do

[2020-02-27 05:10] #75 closed

[2020-03-05 04:36] marten-seemann opened #77 "add a test case that corrupts packets"
I imagine this to be similar to the `handshakeloss` test case (as corrupted packets will show up as packet loss), although this should lead to some interesting corner cases if only one packet in a coalesced packet is corrupted.

Obviously, we'll need another network simulator scenario for this.

[2020-03-06 07:17] SaiMun92 commented on #14
I am having the same error. Are there any fixes?

[2020-03-06 09:05] marten-seemann opened #79 "add a HTTP/3 POST test case"
Servers could implement a SHA256 endpoint (for example), and the client would save the hash to a file to be verified by the interop runner.

[2020-03-11 06:39] #77 closed

[2020-03-11 07:50] #21 closed

[2020-04-09 04:35] huitema opened #89 "Byte count in zerortt scenario looks funny."
I am trying to debug the reason why the Z scenario is marked failing between picoquic client and server in the interop run started 4/7/2020 4:21:05 AM. The output.txt file says:
[code]
The weird part is that the client sent less than 3K in 1RTT packets, not 5.4K. How is the byte count computed?

[2020-04-09 04:35] marten-seemann commented on #89
@huitema Can you post the pcap please?

The payload size is the sum of the payloads (as decoded by Wireshark): https://github.com/marten-seemann/quic-interop-runner/blob/536f3e661bd59f916fb0cd7a97c852fc07547833/testcases.py#L160-L172

[2020-04-12 22:18] huitema commented on #89
I think I understand what is happening. This zip container has both [the left and right traces](https://github.com/marten-seemann/quic-interop-runner/files/4467237/trace_node_left.zip) of a Z test between picoquic server and client. There are two connections. The total provided are:
[code]
When I checks the corresponding logs or Qvis, I see the picoquic client always sending less than 3K of 1RTT p

[2020-04-15 12:41] larseggert opened #91 "Repeat test until it fails"
Would love to see a feature that re-runs a set of tests until at least one fails. Alternatively, make `run.py` exit with an error code, so I can shell-script a loop around it.

[2020-04-15 13:42] larseggert commented on #91
#92 implements the second alternative

[2020-04-16 00:11] camshaft opened #93 "Certificate authority settings"
I was looking in the documentation for guidelines regarding server certificates, but couldn't find anything. Is the expectation that they be self-signed and that clients should trust any root or should they be issued by a well-known authority?

If the expectation is trusting any root, could we instead expose a `SERVER_CA_PATH` environment variable to clients? This would get us closer to how client

[2020-04-16 08:16] marten-seemann commented on #93
Currently clients are expected to trust any root. What would be the advantage of validating the certificate?

[2020-04-16 16:23] camshaft commented on #93
It would be a minor improvement to specify the CA so the client is configured more closely to how it will be used in production environments. It would also allow for a test that fails the handshake if the CA isn't trusted.

If you don't see there being a ton of value in that, I think that's fine too, but we should probably document the expectation for clients to trust any root. I can open a PR for

[2020-04-17 04:54] janaiyengar commented on #93
I don't think that's a QUIC-specific issue, since cert validation would be part of the TLS scaffolding that QUIC uses, and so the value is really not high. This also is not what implementations do right now, so I would be very disinclined to adding it.

[2020-04-17 10:48] #91 closed

[2020-04-21 05:43] janaiyengar opened #94 "Add performance test for when network has reordering"
We chould implement a perf test that introduces reordering based on known reordering patterns in the wild. There’s the common 1-packet swap, and then one packet jumping way ahead of others. These are the common patterns I’ve seen. I think this would be best done as a separate test implementation in ns3.

Thanks @ghedo for the suggestion.

[2020-05-02 01:10] marten-seemann opened #95 "add a key update test"
@martinduke claims that only 9 out of 15 implements support key updates in https://github.com/quicwg/base-drafts/issues/3619#issuecomment-622517738. We should have a test for that.

[2020-05-02 01:11] #93 closed

[2020-05-12 04:46] marten-seemann opened #98 "flake8 suddenly failing"
[code]

The only reasonable explanation is that they updated the linter, and we're always installing the newest version on CI.

[2020-05-12 04:51] #98 closed

[2020-05-21 20:10] janaiyengar opened #102 "Add version variable"
We should consider adding something to indicate the version supported by the interop runner.

At a minimum, supplying version as a variable allows implementations to return with not_supported during transition periods between versions.

Eventually, this can be turned into a compliance test.

[2020-06-09 07:00] marten-seemann opened #104 "add a long RTT test case"
Use a RTT value that's large enough such that the client has to retransmit the Initial.

[2020-06-17 03:09] #104 closed

[2020-06-17 21:32] nibanks opened #112 "Website Needs Legend"
I've shown https://interop.seemann.io/ to a few coworkers and most can't tell at a glance what everything is; both for the Interop and Measurements table. There should be some way, either via a legend directly on the page or a link to the info somewhere else, for reads to get all the necessary explanation for what information is being displayed.

On a side note, the page seems to be getting really

[2020-06-18 17:34] nibanks opened #114 "pip3 install -r requirements.txt Fails"
I'm using https://labs.play-with-docker.com/ to try this out, and I get the following error:
[code]
My Linux knowledge isn't great. What else should be installed? Should the requirements.txt be updated?

[2020-06-19 08:28] marten-seemann commented on #114
Looks like the Python package has some dependencies on system libraries that are missing.

I don't have any experience with Alpine Linux, but from playing around with play-with-docker.com the following command should install the missing packages:
[code]

[2020-06-25 05:29] marten-seemann commented on #114
I believe this issue is resolved. If not, please feel free to reopen.

[2020-06-25 05:29] #114 closed

[2020-06-25 05:30] marten-seemann opened #116 "prevent cheating on the multiplexing test"
We should validate that servers set a (bidirectional) stream limit smaller than the number of files transferred. Otherwise, we can't test that MAX_STREAMS frames are sent and acted upon.

[2020-06-26 02:55] #116 closed

[2020-07-15 23:50] agrover opened #120 "Show run end time and/or estimated current run completion time"
I find myself looking at the start time and adding the duration to see how fresh the displayed results are, and just showing the end time would make life easier. (I still have to convert UTC to my local time, but whatever)

Also, since the end time of one run is the start of the next run, adding duration to the end time would give an estimate of when the current run will complete.

[2020-07-17 04:45] marten-seemann commented on #120
Sounds like a good idea. Want to send us a PR?

[2020-07-20 22:00] agrover commented on #120
I'd be happy to work on this.

[2020-07-22 01:43] #120 closed

[2020-07-22 05:02] agrover opened #123 "sim image binaries uses avx instructions"
https://en.wikipedia.org/wiki/Advanced_Vector_Extensions

This causes the test to fail with "illegal instruction" on machines prior to Intel SandyBridge and AMD Bulldozer. These came out around 10 years ago.

The workaround (I believe) is rebuilding the sim and iperf-endpoint containers on the machine without AVX. This will cause AVX instructions to not be used. I'm not sure how much using AVX rea

[2020-07-22 05:18] marten-seemann commented on #123
The images are built on CircleCI. Not sure if you can disable AVX there somehow.

And I'd really like to keep an automated Docker deployment here, pushing Docker images by hand is a pain...

[2020-07-23 01:55] janaiyengar commented on #123
I tend to agree with @marten-seemann. Also, why do we need to support machines that are > 10 years old?

[2020-07-23 06:13] #123 closed

[2020-07-27 00:51] huitema opened #125 "Interop runner counts one connection attempt too many when parsing logs"
Looking at the logs of this [handshake loss trial](https://interop.seemann.io/logs_2020-07-21T09:21:15UTC/picoquic_aioquic/handshakeloss/), I find that the test failed because `Expected 50 handshakes. Got: 51`. Yet, the client and server logs only mention 50 connections, and the client downloaded the expected 50 files.

The test of the number of handshakes is probably mistaking a failed attempt fo

[2020-07-27 01:17] marten-seemann commented on #125
Here's how the number of handshakes is counted: https://github.com/marten-seemann/quic-interop-runner/blob/56fcba0285f063d8e0f4f8d068335d2c85712f5f/testcases.py#L163-L168

Why is this leading to overcounting in this case?

[2020-07-27 04:36] huitema commented on #125
In the C1 case, it happens if a client's initial is corrupted in a way that changes the CID. The server will reply to both the correct Initial and the corrupted Initial. In the L1 case, it happens if a client times out one connection attempt and starts a new one. This is indeed what happened here:

1) The client started a connection attempt with ICID 6e89084ca8a26853
2) The server allocated the SC

[2020-07-27 04:39] marten-seemann commented on #125
That shouldn't happen though. If the CID is corrupted, the AEAD tag won't be correct. Or am I missing something here?

[2020-07-27 05:20] huitema commented on #125
Yes, you are right about C1. But the L1 case was pretty clear once I managed to identify the logs.

[2020-07-31 21:29] nibanks opened #127 "CPU Limited Throughput Test"
It'd be interesting to see what throughput we're getting between the different implementations when not limited by the network. It might help identify interop performance issues. If you're not already running on real HW, this would most likely require it in order to get consistent measurements. Additionally, logging would likely have a big impact on perf and might need to be disabled, though obvio

[2020-07-31 21:31] nibanks opened #128 "Windows Docker Image Support"
It'd be really nice to test out our Windows code here, since it uses totally different TLS, Crypto and UDP stacks. I'm not exactly sure how it would all work, but you might be able to get things working by making the host machine run Windows and then you can host either Windows or Linux (via WSL2) VMs.

[2020-08-01 01:48] janaiyengar commented on #128
It would be great to have the Windows stack here, and I'd be interested in supporting the platform as an option. Though the main problem would be the rest of the setup that routes between the docker containers. Is that something you could help build support for?

There's also the question of where things would run for the online version, but that's a later question.

[2020-08-01 01:53] janaiyengar commented on #127
This is interesting, but our goal was to keep CPU bottlenecks out of the equation, focussing on network interop and performance. Though you do have a good point about testing stacks against peers that are saturated. This wouldn't need the peer to _be_ saturated, it just needs to _appear_ saturated. Meaning that if we can turn it into network behavior (increasing RTT, for instance), that could be i

[2020-08-05 06:08] larseggert commented on #20
Is it the container that buffers, or is your `tcpdump` simply missing option `-U`?

[2020-08-05 06:18] marten-seemann commented on #20
ns-3 is generating the pcaps, so the buffering is probably somewhere in ns-3 (or in the file system?).

[2020-08-08 15:33] nibanks opened #131 "Need Post-Test Step for Converting Logs"
Right now, MsQuic cannot collect logs because it requires commands to be executed after the test runs. But the current setup runs the server continuously and then just kills the container. This never allows for us to collect/convert our log files. We need either:

- An explicit new step/script to be run after killing the server process.
- Or, an explicit signal to shutdown the server and then time

[2020-08-09 07:44] marten-seemann commented on #131
It looks like it's not possible to trap signals when using the `--abort-on-container-exit` option in docker-compose. I opened https://github.com/docker/compose/issues/7652.

[2020-08-11 15:42] nibanks commented on #131
With @larseggert's help we've been able to push an updated MsQuic Docker image that supports streaming, but it still has issues. There seems to be a race condition where the server is shutdown before all the logs flush to disk. Perhaps, as a temporary stop-gap solution you add a sleep for a second or two before killing the server?

[2020-08-11 16:58] marten-seemann commented on #131
That would be a workaround, but not an easy one. —abort-on-container-exit doesn’t allow you to do anything like that, so we’d have to start and stop the containers manually. I really hope that someone will pick up my docker-compose issue, otherwise we’ll have no choice but to actually implement that workaround.

[2020-08-18 10:56] marten-seemann commented on #131
Nobody picked up the issue in more than a week. Time to implement the workaround! 👎

[2020-08-18 12:29] marten-seemann commented on #131
After playing around with this for a while, it seems like the problem is the following: We need to run a `subprocess.run` for every container (simulator, server and client). I haven't figured this part out yet, we might need to use the `threading` package to run them in parallel.
The problem is that we want to access the logs here. People log to stdout, and we need to capture that. What's more, we

[2020-08-20 02:23] martinthomson opened #137 "-r option to run.py and BYO images"
So I build my own docker image and run this to test that the image is basically functional:

[code]

This works the first time.  Great.

I have a few things to tweak in my image, so I delete the old image (with `docker rmi -f <somehash>`) and regenerate it.

Running `run.py` again with the updated hash stalls indefinitely.  After some investigation, what happens is that docker-compose is stalling

[2020-08-20 03:34] marten-seemann commented on #137
Regarding the PR, it looks like you created the issue and the PR for the quic-network-simulator repo, not for the quic-interop-runner repo. I transferred the issue, but I can't do that for the PR.

[2020-08-20 05:11] #137 closed

[2020-08-24 18:52] vk-coder commented on #14
$ pip3 show pyshark
Name: pyshark
Version: 0.4.2.11
Summary: Python wrapper for tshark, allowing python packet parsing using wireshark dissectors
Home-page: https://github.com/KimiNewt/pyshark
Author: KimiNewt

$ cat /etc/centos-release
CentOS Linux release 7.6.1810 (Core)

i am having exactly same issue.

  File "./test_pyshark.py", line 22, in stop_capture
    self.capture.close()
  File "/home/

[2020-09-01 15:58] larseggert opened #150 "Say which files were not transferred"
Instead of just saying `Downloaded the wrong number of files. Got 49, expected 50.` would it be possible to print **which ones** were not downloaded? I used to look at the served and downloaded files, but those are no longer part of the runner output.

CC @nibanks

[2020-09-01 16:05] marten-seemann commented on #150
That would be useful indeed. Would you mind sending us a PR?

[2020-09-01 17:29] larseggert commented on #150
See #151

[2020-09-03 16:12] nibanks opened #158 "Clean up Test Output"
There's a bunch of "noise" spit out during the tests that not only clutters things up but confuses the user (me) and the CI system (Azure Pipelines) and sometimes gets treated as a failure. For instance:
[code]
IMO, output here should not be present unless it's a useful status message or a legitimate error. For instance:
[code]
For those completely new to all this, it would make things a lot easie

[2020-09-03 16:18] nibanks opened #159 "Command Line Option to Manually Specify Image Tag"
For (automated) testing purposes on PR runs (not official, main-line branch commits) we'd like to be able to run the interop runner in our CI system. But to do that, it would require us to point the interop runner to a different tag than `latest`. So, it would be nice to have the ability to specify, at command line, to replace a given implementations tag (or full path) with something else.

cc @an

[2020-09-03 16:19] marten-seemann commented on #158
These are all pyshark errors, which are thrown because a pcap contains a partial packet. I don't see any way to disable that check / error message. Maybe it would be a good idea to simply hide all pyshark errors.
FWIW, it's also polluting the output on GitHub Actions: https://github.com/marten-seemann/quic-interop-runner/actions/runs/237401524.

[2020-09-03 16:20] nibanks commented on #158
Can you just try/catch and ignore them all? Maybe have a `-verbose` command line option to actually print them out in case you need to see them later?

[2020-09-03 16:20] marten-seemann commented on #159
That should be possible, using the `--replace` option. You just have to pass in the full path of your image, e.g. `mcr.microsoft.com/msquic/qns:v1.2.3`

[2020-09-03 16:23] nibanks commented on #159
I was unaware of that option. We'll try it out. Thanks!

[2020-09-03 16:24] marten-seemann commented on #158
https://github.com/marten-seemann/quic-interop-runner/blob/acb03986a4e2d985859389b921cfde09233b2d53/trace.py#L42-L47

We could just remove that `print` here, or replace it by a `logging.debug`.

[2020-09-03 16:36] #158 closed

[2020-09-04 02:59] #150 closed

[2020-09-07 16:49] marten-seemann commented on #159
@nibanks Did this flag solve your problem?

[2020-09-07 16:51] nibanks commented on #159
@anrossi did you try this out yet?

[2020-09-08 07:21] anrossi commented on #159
I don't understand how this works. It looks to me like `pull.py` actually pulls down the docker image, but `run.py` has the replacement parameter. In order to pull down the correct image, shouldn't `pull.py` accept the replace parameter?

[2020-09-08 07:33] marten-seemann commented on #159
Docker should pull an image automatically if it doesn't have it in its cache. `pull.py` is really only needed to update untagged images.

[2020-09-08 15:16] nibanks commented on #158
Removing all the pyshark output definitely helped, but I'd like a bit more. For instance, take this output:
[code]
IMO, things would be a lot better if the output was modified so that it prints which test is being run, then any errors, and then the final result. Something more like:
[code]
fyi, @marten-seemann I don't seem to have the ability to reactivate the issue.

[2020-09-09 04:06] marten-seemann opened #171 "speed up interop run by caching the wireshark build"
We can use [caching](https://github.com/marketplace/actions/cache) to cache the Wireshark executable we build.
To make sure we get the most recent build, we can add save the minimum git commit that we require for Wireshark to function, and check the Wireshark commit history to see if the cached build originated after that commit.
Not that this involves checking out the Wireshark repository every t

[2020-09-09 09:05] marten-seemann opened #173 "improve logging output"
Removing all the pyshark output definitely helped, but I'd like a bit more. For instance, take this output:
[code]
IMO, things would be a lot better if the output was modified so that it prints which test is being run, then any errors, and then the final result. Something more like:
[code]
fyi, @marten-seemann I don't seem to have the permissions to reactivate the issue.

_Originally posted by @ni

[2020-09-09 15:08] nibanks opened #176 "Define Acceptable Ranges for Measurement Values"
We should define acceptable ranges for both the goodput and cross-traffic measurements. Successful values in those ranges would continue to be marked as green on the interop site. Successful values outside of those ranges would be marked as yellow or orange.

At least for now, we should probably go with conservative ranges. IMO, these should be good:

**goodput:** x >= 7500
**cross-traffic:** 3500

[2020-09-09 15:21] marten-seemann commented on #176
I was wondering if we could even go a step further. Those numbers are really hard to interpret.
What do you think of using something like a progress bar (left side: 0, right side: 10000) to display the transfer speed? Maybe we can even find a JavaScript library that allows us to display the standard deviation somehow.
We could also set the color of the progress bar based on the value, as you sugge

[2020-09-09 15:26] nibanks commented on #176
So, right side would be green and left side would be red (failure would be treated as zero), and we color scale between them? I'd be fine with that too, I think. I'd probably need to see what it looks like though before final sign off.

[2020-09-09 15:32] marten-seemann commented on #176
Was thinking of something along those lines:
<img width="323" alt="image" src="https://user-images.githubusercontent.com/1478487/92619891-3f836200-f2ec-11ea-8d91-126d9cdbc369.png">

[2020-09-09 15:41] nibanks commented on #176
I'd probably have to see it fully to be able to decide if I like it or not. But I'm open to the solution definitely.

[2020-09-09 15:51] LPardue commented on #176
maybe @rmarx can transfer his qvis skills to this

[2020-09-09 16:01] rmarx commented on #176
Something like @marten-seemann's mockup is not too difficult to do with an SVG template. With a minor amount of JavaScript (or potentially just CSS) I can add onhover to show the raw values. But please agree first on the approach :P

[2020-09-09 16:02] marten-seemann commented on #176
I hacked a few lines of JavaScript (without any library) to get this:
<img width="1525" alt="image" src="https://user-images.githubusercontent.com/1478487/92623463-7491b380-f2f0-11ea-8e59-06d76d5a354a.png">
No coloring yet, and no standard deviations.

[2020-09-09 16:06] LPardue opened #177 "Filtered views"
The results presentation continues to grow with new test cases and implmentations. This is a mark of success! However, its getting a bit unwieldly and I predict will continue to do so. So I have a feature request that I think will benefit a typical workflow for many people that are using the results to for their implementation.

As a project maintainer,
I'd like to be able to filter out other proj

[2020-09-10 01:07] janaiyengar commented on #176
This looks great, except for the C runs. Those should be "distance from ideal" -- basically, (x-5000) -- not simply throughput. The sign matters since the QUIC connection can be too aggressive or too conservative.

But yeah, I love the visualizations! Maybe they could be colored based on their closeness to the ideal value? Basically map 0 -> 10M  to Red -> Green? One idea is to set:

R = 255 - int

[2020-09-10 02:48] #171 closed

[2020-09-10 03:06] #95 closed

[2020-09-10 05:46] marten-seemann commented on #176
We probably need to adjust the scale a bit. Showing 0 - 10000 doesn't really make sense. There's a big difference between an implementation that achieves 8500 and one that achieves 9500.
Maybe we could zoom in to the 8000 - 10000 range, and fail all tests that fall outside that range.

[2020-09-10 11:33] larseggert commented on #177
I have added that capability to #170

[2020-09-10 11:45] larseggert opened #178 "Add testcase descriptions to results json"
Could we add some descriptions of the testcases to the `results.json` file? I would then grab them and present them on the web page. Doing it this way (i.e, getting them from the code) means that they can be maintained in the place where it makes the most sense.

[2020-09-10 11:56] larseggert commented on #177
This is how it looks with `?server=quiche` with the PR:

<img width="983" alt="Screen Shot 2020-09-10 at 14 55 51" src="https://user-images.githubusercontent.com/200328/92726100-c6305180-f375-11ea-9a5a-95d823e8a09f.png">

[2020-09-10 12:03] LPardue commented on #177
Looks awesome, thanks!

[2020-09-10 12:10] marten-seemann commented on #178
Makes sense. We probably need a "metadata" section to set the range of acceptable values for the measurements (#176) as well.

[2020-09-11 00:04] janaiyengar commented on #178
Yeah, we've talked about this, and it would be super useful. I would suggest a mouseover box on the results page.

[2020-09-11 01:42] anrossi commented on #159
Oh, then this flag works for us. Confirmed by running locally and using in our CI scripts.

[2020-09-11 01:54] #159 closed

[2020-09-11 06:06] larseggert commented on #178
OK, I will take a stab at this in #170

[2020-09-11 07:07] marten-seemann commented on #177
I believe this was fixed by #170.

[2020-09-11 07:07] #177 closed

[2020-09-15 01:23] #178 closed

[2020-09-15 14:59] nibanks commented on #131
We have _some_ streaming stuff enabled, but it doesn't work very well because it seems to be timer based, so much of the time we end up losing much of the end of our logs (where the relevant errors end up being). I'd really be appreciated if we could get this feature in!

[2020-09-16 12:12] larseggert commented on #112
Could you take another look? There have been many changes recently. Anything particular that could be added?

[2020-09-21 11:06] marten-seemann opened #200 "add a test case for HTTP/3 Push"
Discussed with @martinthomson on Slack: Apparently Firefox wants to have seen the URL before it accepts a Push.
We could generated *n* files to be pushed, and a .txt file that contains links to these files.
We'd then tell the client the URL of the .txt file. The server would then be expected to push these resources to the client.

How does this sound? quic-go doesn't have a push implementation (ye

[2020-09-21 11:07] marten-seemann commented on #5
Fixed in #66 a long time ago.

[2020-09-21 11:07] #5 closed

[2020-09-21 22:51] huitema commented on #200
The picoquic implementation of HTTP3 does not support server push. That would be a new development, the only goal being to test other HTTP3 implementations.

[2020-09-22 00:02] martinthomson opened #204 "Multiple -r options don't seem to work"
[code]

I had the hardest time trying to understand how things were failing until I noticed an extra "la" in the tag that the interop runner was using.

[2020-09-22 02:20] martinthomson commented on #200
It's not pokemon Christian, you are allowed to not support test cases :)

[2020-09-22 04:17] tatsuhiro-t commented on #200
ngtcp2 server has a feature to test push capability:

So client requests URL with push query parameter specifying resource being pushed.

This is very simple scheme, but it looks like firefox won't work with this.

[2020-09-22 04:27] marten-seemann commented on #204
You need to use comma-separated values:
[code]

As far as I know, the `argparse` library doesn't allow us to detect multiple occurrences of a parameter, so it's not possible to correctly parse the command you used, nor would it be possible to throw an error :(

[2020-09-22 04:27] #204 closed

[2020-09-22 04:29] marten-seemann commented on #200
@tatsuhiro-t Could you download the .txt file first, and then construct the ?push-URL from it?

Or do people think that the ?push-URL is a pattern worth standardizing (for testing purposes)?

[2020-09-22 04:53] martinthomson commented on #200
You'd have to generate a redirect to that URL as the client won't know to make the request with all those query parameters.  And I doubt that many of the primitive clients follow redirects (Firefox and Chrome probably would, but our test client would not).

[2020-09-22 07:56] tatsuhiro-t commented on #200
If runner generates .txt file, then it can pass its URL with constructed push-URLs to client.  Simple client then just request the URL.

[2020-09-22 17:22] huitema commented on #200
@martinthomson hey, I like the way the score looks:
![image](https://user-images.githubusercontent.com/7464128/93915845-76c71b00-fcbd-11ea-95ae-d91fa384f6e2.png)
Once you have a stable spec, I might hack something...

[2020-09-30 03:51] martinthomson opened #213 ""keyupdate" test is unnecessarily difficult to implement"
I've implemented draft support for this test in our test client in both HTTP/3 and HTTP/0.9.  And the latter fails because the client doesn't send any packets in key phase 0.

The problem is that the client is expected to initiate a key update and send two packets, but it can complete the test by sending just a single packet.  It is only provided with a single URL to request.

If you want the key

[2020-09-30 04:07] marten-seemann commented on #213
This was based on a misunderstanding of the exact condition when it's allowed to update keys.
Turns out that for the very first key update, handshake confirmation is a sufficient condition, which means that no packets in key phase 0 need to be sent at all.

[2020-09-30 04:15] #213 closed

[2020-09-30 22:35] janaiyengar commented on #213
So the test now doesn't require data to be sent in multiple KPs, which was a nice feature. I would have liked to have retained that... though we'd need to change our expectations of clients if we want that. Do either of you think there's value in it?

[2020-10-01 00:12] martinthomson commented on #213
As I said in the issue, if you want to test that both key phases are used, you need to provide two resources: one to request before updating, one after.  But some stacks don't have a direct control that allows them to force a change in key phase, which this would force them to add.

[2020-10-01 05:52] janaiyengar commented on #213
I understand that concern - that's what I meant by "change our expectations of clients". Fair enough.

[2020-10-06 04:48] marten-seemann opened #222 "add a ChaCha key update test"
@martinthomson suggests this in https://github.com/marten-seemann/quic-interop-runner/pull/221#pullrequestreview-502579052.

[2020-10-08 02:11] marten-seemann opened #228 "crash during test evaluation"
[code]

[2020-10-09 12:10] #228 closed

[2020-10-13 14:17] larseggert commented on #112
@nibanks ping

[2020-10-13 14:18] larseggert commented on #22
This is done.

[2020-10-13 14:56] nibanks commented on #112
Sorry @larseggert, I missed your last post. Yes, things are much better now. Thanks!

[2020-10-13 14:56] #112 closed

[2020-10-14 01:28] marten-seemann commented on #61
@larseggert Not long, but it is fixed. Fixed by #225.

[2020-10-14 01:28] #61 closed

[2020-10-14 08:31] vl-homutov opened #235 "ipv6 attribute is not always present"
and you can get AttributeError about missing field;

This patch seem to fix it:

[code]

[2020-10-14 13:56] larseggert commented on #235
@marten-seemann we can then hopefully close this

[2020-10-14 14:03] #235 closed

[2020-11-11 00:07] nibanks commented on #131
Any updates? I'd **really** like to get consistent logging for msquic working, but can't do it without this.

[2020-11-16 10:19] marten-seemann opened #245 "use Wireshark's JSON API"
See https://quicdev.slack.com/archives/C6P806347/p1602849924032800.

[2020-11-17 19:48] anrossi opened #247 "Add timestamps to output.txt"
It would be helpful to include on each line in output.txt, the timestamp of when the line was logged.

[2020-11-17 21:26] anrossi opened #248 "Guaranteed timeouts for loss/corruption tests"
We've noticed several instances where the corruption or loss tests will timeout because the packets containing ACKs will all be discarded. Or the retransmit timeouts exceed the app's timeout.  We could keep increasing the interop app's timeout, but that's no guarantee the test will complete within that time.
One such instance where the app's timeout fired after 25 seconds is [here](https://interop

[2020-11-18 17:52] nibanks opened #249 "Exception: File "run.py", line 9, in <module>"
MsQuic CI recently started to fail to run the interop runner. I see the following errors:
[code]
This is from the following execution:
[code]
Did something change recently that's going to require me to update our pipeline? FYI, full YAML can be found [here](https://github.com/microsoft/msquic/blob/a818ab1e8eef53f4959ca9e6bbe03446fc7bdf09/.azure/templates/run-qns.yml).

[2020-11-19 12:16] marten-seemann commented on #249
I'm not familiar with Azure Pipelines. Does this also happen on GitHub Actions?

[2020-11-20 00:42] nibanks commented on #249
I don't know if it affects GitHub Actions, but as far as I can tell the latest runs on here are fine: https://github.com/marten-seemann/quic-interop-runner/actions?query=workflow%3Ainterop.

Did you change anything recently around requirements or command line options that might have broken MsQuic's CI?

[2020-11-20 20:28] ThadHouse commented on #249
Doing some digging, prettytable 2.0 broke support for python 3.5, which when EOL in September. The images we were running the interop runner off of were running Ubuntu 16.04, which still ran 3.5. Updating to 18.04 solves the issue.

The interop runner docs should update to say that Python 3.6 or newer is required.

[2020-11-20 20:38] #249 closed

[2020-12-29 05:00] Matthias247 commented on #79
A side-channel shouldn't be necessary. The client can provide a checksum in a header. The server can verify the upload based on that, and respond based on the verification result.
S3 uses the  `Content-MD5` header for verifying integrity of uploaded files.

[2020-12-30 05:22] marten-seemann commented on #79
The easier way would be to have the server save the file to disk. Then the interop runner can do an independent verification of the upload.

[2021-01-04 18:11] nibanks commented on #127
I don't see this being supported here, so I am closing it.

[2021-01-04 18:11] #127 closed

[2021-01-19 20:43] anrossi commented on #131
Is it possible to make progress on this issue? Or is it blocked completely on the docker-compose issue/Python `submodule` API?  MsQuic logging is still largely missing in interop runner failure cases due to this, which hurts our ability to diagnose and improve interop.

[2021-01-20 06:37] marten-seemann commented on #131
There's code for that in this branch: https://github.com/marten-seemann/quic-interop-runner/tree/separate-docker-compose-runs
For some reason it makes the interop runs very flaky though. Unfortunately, I won't have to time figure out what's going on there, but maybe you can make sense of this?

[2021-01-26 22:00] dtikhonov opened #258 "List correct minimum Wireshark version"
The README says:

Wireshark 3.2.3 that comes with Ubuntu 20 did not work.  I had to update to latest Wireshark (3.4.2) to get it to decrypt QUIC packets correctly.

[2021-02-02 04:16] marten-seemann commented on #258
Should we update the README? Can you send a PR?

[2021-05-24 21:59] toidiu opened #266 "unblock Connection Migration testing"
Creating a issue to track the effort required to enable Connection Migration interop testing.

I found this issue in the Wireshark repo but i was last updated 6+ months ago: https://gitlab.com/wireshark/wireshark/-/issues/16915

Criteria for success:

- [ ] [Enable connection migration tests](https://github.com/marten-seemann/quic-interop-runner/blob/1dedeab03da41716bdc3ab84243328ac2409f9fe/testca

[2021-05-24 22:02] toidiu commented on #266
Open questions I have:
- Is anyone currently working on this or is there a plan to pick up this feature?
- How are implementations currently testing that connection migration works (I imagine a custom integration testing framework)?

[2021-05-30 02:13] marten-seemann commented on #266
Can you try running these disabled tests with a current version of Wireshark? There's still a chance it got fix in the mean time, and the tracking issue wasn't properly updated.
Otherwise, we'd probably have to poke the Wireshark guys to fix their code ;)

[2021-06-03 20:31] toidiu commented on #266
Sure, let me enable the test and see if a recent version of Wireshark now supports the feature.

[2021-06-29 21:48] afrind opened #267 "Deprecate HTTP/0.9"
A recent message to the QUIC mailing list shows we are clearly confusing some people out there by maintaining HTTP/0.9 over QUIC:

Further, we'd like to remove this support from proxygen/mvfst as it creates a bit of maintenance headache.

I appreciate the need to have a protocol simpler than HTTP/3 for testing QUIC transports, and that deprecating HTTP/0.9 might cause some unexpected churn, but I

[2021-06-29 21:58] nibanks commented on #267
At this time (and likely for some time in the future) it will be impossible to support HTTP/3 in a cross-platform fashion for MsQuic. If we want to replace HTTP/0.9 support, then I would propose an equivalent QUIC only protocol, completely separate from HTTP. The primary goal of this interop runner is **QUIC** interop, and IMO, that should continue to be the focus. Something as simple as this [per

[2021-11-29 16:16] Rjvs opened #274 "Speed Benchmarks"
How would be the best way of getting throughput measurements on a greater than 10Mbps bottleneck?

[2021-11-30 08:15] marten-seemann commented on #274
That will be difficult due to ns3's inherent resource usage.

[2022-01-22 23:08] Ralith opened #279 "Obscure error on key update with quinn server"
When Quinn is the server, the key update test always seems to fail here:

https://github.com/marten-seemann/quic-interop-runner/blob/86f5d35e7b9d21c9e6e71075ab0ccf33f41d734e/testcases.py#L914-L918

The key log file is certainly present and looks sane, and it seems like the download is completing properly. Would it be possible to log the actual error here?

[2022-01-23 10:50] marten-seemann commented on #279
Sure, why not? Want to submit a patch?

[2022-01-24 03:03] Ralith commented on #279
I don't have much grasp of this project/python in general and I can't get it to run locally (some network issue makes every test time out), but I guess I can try the obvious.

[2022-02-24 03:34] xtuyaowu opened #282 "quic usage scenarios question"
hi guys：
    have a question about quic usage scenarios：java quic as server side , java&python&c++ long connect client side, can this scenarios use quic？this is my issue: https://github.com/netty/netty-incubator-codec-http3/issues/188

regards
terry

[2022-02-24 06:32] #282 closed

[2022-02-25 11:06] marten-seemann opened #283 "remove quicly"
The image has not been updated in the longest time. I assume there's no interest from the quicly maintainers to be part of the interop runner any longer. However, there are other implementations that would like to join, and can't, due to GH Actions 256 job limit.

I'm going to remove quicly, unless the image is updated **really soon**.

cc @kazuho @janaiyengar

[2022-03-03 05:52] #283 closed

[2022-05-31 22:17] msoxzw opened #288 "add a test case for Address Validation for Future Connections"
Quoting from [RFC9000](https://datatracker.ietf.org/doc/rfc9000/):

As far as I am concerned, "dns.nextdns.io:8853" and "dns.adguard.com:853" send NEW_TOKEN frames to clients after the client address is validated in order to avoid the 1-RTT penalty during subsequent connections by the client from the same address.

[2022-09-21 22:02] junhochoi opened #292 "Use of docker-compose"
Currently interop.py uses `docker-compose` executable but now it's deprecated.
Need some documentation to specify to install docker-compose v1 package, or migrate to v2
(v2 uses "docker compose" command, not "docker-compose")
https://stackoverflow.com/questions/66514436/difference-between-docker-compose-and-docker-compose

[2022-09-22 19:11] junhochoi commented on #292
opened #293

[2022-09-23 12:15] #292 closed

[2022-09-23 17:45] sedrubal commented on #292
Another solution might also be to get rid of docker compose and use direct docker API calls using docker-py like I did it in this fork (which is meanwhile far away from upstream)
https://gitlab.cs.fau.de/sedrubal/masterarbeit/quic-interop-runner/

[2022-10-24 23:26] muthvar1 commented on #14
Following this issue. I too am facing the same issue after upgrading to python3.6. Same code works on python2.7. I can;t seem to start pyshark in a thread. It fails instantly with the above error.